extends ../layout.pug

block content
  div(id='roomEditForm')
    h2 Edit Room
    form(method='post' class='pure-form')
      input(type='hidden', name='room_id', value=room._id, required)
      fieldset(class='pure-group')
        input.room-name.pure-input-1(
          type='text',
          name='name',
          value=room.name,
          required,
          placeholder='Room Name'
        )
        textarea.room-description.pure-input-1(
          name='description',
          required,
          placeholder='Room Description'
        )= room.description
        p.pure-form-message
          | Description accepts #[a(href='https://www.markdownguide.org/basic-syntax', target='_blank') Markdown Formatting]
      .pure-controls
        input(type='submit' value='Save Changes' class='pure-button pure-button-primary pure-input-3-4')
        a.form-cancel.pure-input-1-4(href='/rooms') Cancel
