extends ../layout.pug

block content

  h2 Your Rooms
  div.gutter-bottom
    a.pure-button.button-success(href='/rooms') Create and manage your rooms

  if userRooms.length != 0
    div#userRooms(class="pure-menu pure-menu-horizontal gutter-bottom-doubled")
      each userRoom in userRooms
        ul.pure-menu-list
          li.pure-menu-item
            a.pure-menu-link(href='/rooms/' + userRoom._id + '/world/hub')= userRoom.name
  else
    div#noUserRooms
      p.
        It looks like you don't have any rooms yet! Click the button above to
        create your first room and invite some friends!

  if rooms
    div(id='rooms' class="gutter-bottom-doubled")
      h2 Rooms you've created
      table.pure-table.profile-table.pure-table-striped.gutter-bottom-doubled
        thead
          th Room
          th Created
          th Updated
          th Number of members
          th
          th
          th
        tbody
          each room in rooms
            tr(class='room')
              td= room.name
              td= room.created
              td= room.updated
              td= room.members.length
              td
                a(href='/rooms/' + room._id + '/edit') Edit room
              td
                a(href='/rooms/' + room._id + '/delete') Delete room
              td
                a(href='/rooms/' + room._id + '/members') Manage members

          //- td= !{room.formattedDescription()}


  div(id='roomCreateForm' class="gutter-bottom-doubled")
    h2 Create Room
    form(method='post' class='pure-form')
      fieldset(class='pure-group')
        input.room-name.pure-input-1(
          type='text',
          name='name',
          required,
          placeholder='Room Name'
        )
        textarea.room-description.pure-input-1(
          name='description',
          required,
          placeholder='Room Description'
        )
        p.pure-form-message
          | Description accepts #[a(href='https://www.markdownguide.org/basic-syntax', target='_blank') Markdown Formatting]
      .pure-controls
        input(type='submit' value='Create Room' class='pure-button pure-button-primary pure-input-1')
