extends layout.pug

block append stylesheets
  link(rel="stylesheet" type="text/css" href="/web/css/vendor/color-picker.css")

block content
  - var userCanGenMagicLinks  = userInfo.userType === CIRCLES.USER_TYPE.TEACHER || userInfo.userType === CIRCLES.USER_TYPE.RESEARCHER;
  - var targetUsersText       = (userInfo.userType === CIRCLES.USER_TYPE.TEACHER) ? CIRCLES.USER_TYPE.STUDENT : CIRCLES.USER_TYPE.PARTICIPANT;
  - var buttonText            = 'Create ' + targetUsersText + ' Links';

  h2 Circles' Worlds
  div(class="gutter-bottom-doubled")
    div(id="worlds_list_wrapper" class="pure-menu gutter-bottom")
    //will ask for worlds list from server and populate here

  if userCanGenMagicLinks

    div(id="MagicLinksWrapper" class="gutter-bottom-doubled")
      h3 #{targetUsersText} Links for "Magic" Automatic Login 

      form(class='pure-form pure-form-aligned')
        fieldset
          legend Create Magic Links
          div(class='pure-control-group')
            - let n = 0;
            - let selected = false;
            - let val = 0;
            label(for='MagicLinkExpiry') Select Expiry in Days
            select(name='MagicLinkExpiry', id='MagicLinkExpiry', class="pure-input-1-3")
              while n < 365
                - val = n++;
                - selected = (val === 7)
                option(value!= val, selected!= selected)!= val
                - selected = false
          div(class='pure-control-group')
            label(for='MagicLinkGroup') Create Group Name
            input(name='MagicLinkGroup', id='MagicLinkGroup', type="text", placeholder="explore", class="pure-input-1-3")
            button(type="button", class="pure-button pure-button", onclick='autogenerateGroupName(MagicLinkGroup, 4)') create new group
          div(class='pure-control-group')
            label(for='MagicLinkWorld') Select Entry World
            select(name='MagicLinkWorld', id='MagicLinkWorld', , class="pure-input-1-3")
            //will populate this select element when we load in worlds
            //-   each val, index in window.all_circles_worlds 
            //-     option=val
          div(class='pure-controls')
            input(type='button', class="pure-button pure-button-primary", value=buttonText, onclick='createMagicLinks("' + userInfo.userName + '","' + userInfo.email + '","' + userInfo.userType + '")')

      p Selection the expiry and world, then click on the blue <span style='color:#0078e7; font-weight:bold;'>[#{buttonText}]</span> button above to generate "magic links" to the selected world for each #{targetUsersText}. Just copy and send each link to each #{targetUsersText} to automatically log them in. Ask them to save the link so they can login repeatedly. 
      p <em>Note these links expire in <span id='countdownElem' style='color:#0078e7; font-weight:bold;'>15 minutes</span></em>.
      div(id="MagicLinksContent" class="gutter-bottom-doubled")
